*{
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(69, 38, 179);
}
body{
    background-color: #d6bc29;

}
button{
    color: rgb(25, 22, 172);
    
}
div{
    background-color: aquamarine;
}
#box{
    height: 20px;
    width: 40px;
    background-color: rgb(69, 38, 179);
    border: 2px solid black;
}

.test{
     height: 40px;
    width: 80px;
    background-color: rgb(69, 38, 179);
    border: 2px solid black;
}